<!--Form for password reset after user hits forgot account button-->
<div class="container">
  <div class="forgot-acc">
    <div class="form-signin" ng-controller="ResetController">
      <h1 class="text-center login-title">eSavjetovaliste</h1>
			<div class="input-prepend">
      	<span class="add-on"><i class="icon-envelope"></i></span>
      	<input type="text" class="form-control" name="email" placeholder="Email" ng-model="user.email" required autofocus>
    	</div>
	    <button class="btn btn-lg btn-primary btn-block" ng-click="doReset()"  ng-disabled="loginForm.$invalid">Potvrdi</button>
    </div>
  </div>
</div>