</br></br>
<div class="pretraga">
  Sortiraj po:
  <select ng-model="orderProp" class="form-control">
    <option value="name">Imenima</option>
  </select>
  Pretraga: <input ng-model="query" class="form-control"> <br><br>
  Dodavanje nove kategorije: 
  <button class="btn btn-primary" ng-controller="CreateCategoryControllerByAdmin" ng-click="createCategoryByAdmin()"  ng-disabled="myForm.$invalid">Dodaj kategoriju</button>
</div>

</br></br>
<div class="category-navbar" category-navbar></div>
<div id="copyright">© Copyright 2015</div>
