<!--Form for password change for user that is logged in-->
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head> 
	<div class="bcgnonee"> 
		<!--navbar-->
		<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
		    <div class="localization-bs-en" localization-bs-en></div>
		     <div class="container" ng-controller="HomeController">
		        <div class="navbar-header page-scroll">
		           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		              <i class="fa fa-bars"></i>
		        </button>
		        <a class="navbar-brand" href ng-click="openHomeAdmin()">
		           <h1 class="naslov1">eSAVJETOVALISTE</h1>
		        </a>
		          </div>
		          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
		           <ul class="nav navbar-nav navbar-font">
		           <li><a href ng-click="openHomeAdmin()"><span>{{ "HOME" | translate }}</span></a></li>
		         <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
		            </ul>
		          </div>
		       </div>
		   </nav>
		<!--/.navbar-->
		</br></br></br></br></br></br> 
		<div class="heading-contact-title">
	            <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2">
	                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
	                    <div class="section-heading">
	                    <h2>{{ 'EDITUSRMNG' | translate }}</h2>
	                    <i class="fa fa-2x fa-angle-down"></i>

	                    </div>
	                    </div>
	                </div>
	            </div>
	            </div>
	    </div> 
	    <div class="container">    
		<div class="bcgnone" style="height:600px">
	    <div class="edit-user-by-mng-wall">

	    <form class="form-register form-inline" role="form" name="myForm" ng-controller="ChangePassController">

			<!-- input current password-->
			<div class="input-prepend  form-group has success has-feedback">
				<label class="control-label" for="inputSuccess4"></label>
				<input name="passwordEx" type="password" class="form-control" placeholder="Trenutna šifra" ng-model="user.password"  required id="inputSuccess4"/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span></br></br>
				<!--password validation (client side)-->
				<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
					<span ng-show="myForm.password.$error.required">Unos pasvorda je obavezan.</span>
				</span>	
			</div>

			<!-- input new password-->
			<div class="input-prepend  form-group has success has-feedback">
				<label class="control-label" for="inputSuccess4"></label>
				<input name="password" type="password" minlength="3" class="form-control" placeholder="Nova šifra" ng-model="user.new_password" required id="inputSuccess4"/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span></br></br>
				<!--password validation (client side)-->
				<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
					<span ng-show="myForm.password.$error.required">Unos pasvorda je obavezan.</span>Pasvord mora imati više od tri karaktera.
				</span>	
			</div>

			<!-- input new password confirmation-->
			<div class="input-prepend  form-group has success has-feedback">
				<label class="control-label" for="inputSuccess4"></label>
				<input name="passwordc" type="password" minlength="3" class="form-control" placeholder= "Potvrda šifre" ng-model="user.new_password_confirmation" required id="inputSuccess4"/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span></br></br>
				<!--password validation (client side)-->
				<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
					<span ng-show="myForm.password.$error.required">Unos pasvorda je obavezan.</span>Pasvord mora imati više od tri karaktera.
				</span>	
			</div>

			<!--button submit-->
			<div class="actions">
				  <button class="btn btn-lg btn-primary btn-block" ng-click="changePass()"  ng-disabled="form-register.$invalid">Potvrdi</button>
			</div>

			</form>
	    </div>
	</div>
</div>
<div id="copyright">© Copyright 2015</div>