<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<!--navbar-->
<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
    <div class="localization-bs-en" localization-bs-en></div>
     <div class="container" ng-controller="HomeAdminController">
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href ng-click="openHomeAdmin()">
           <h1 class="naslov1">eSAVJETOVALISTE</h1>
        </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
           <ul class="nav navbar-nav navbar-font">
           <li><a href ng-click="openHomeAdmin()"><span>{{ "HOME" | translate }}</span></a></li>
         <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
            </ul>
          </div>
       </div>
   </nav>
<!--/.navbar-->
</br></br></br></br></br></br>
	<h1 style="text-align:center;"> Dijagrami </h1><br>
	<div ng-controller="ChartsController">
		<div class="row">
			<div class="col-lg-4 col-md-4">
			<h2> Feedback </h2><br>
			  <nvd3 options="options_pie" data="data_pie">
			   </nvd3>
			</div>
			<div class="col-lg-6 col-md-6">
			   <h2> Category </h2><br>
			   <nvd3 options="options_multibar" data="data_multibar">
			   </nvd3>
			 </div>
		</div>
		<div class="row">
			 <div class="col-lg-4 col-md-4">
			   <h2> Comment </h2><br>
			   <nvd3 options="options_discretebar" data="data_discretebar">
			   </nvd3>
			 </div>
		</div>
		<div class="col-lg-8 col-md-8">
			   <h2> Questions during history </h2><br>
			   <nvd3 options="options_historical" data="data_historical">
			   </nvd3>
			 </div>
		</div>

	</div>

