<!--Edit user by manager-->
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div  class="bcgnonee">
<div class="navbar" navbar></div>
</br>
	<div class="heading-contact-title">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                    <h2>Rezervacija</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
	<div class="col-lg-8">
        <div class="boxed-grey"  ng-controller="EditReservationController">
            <form id="reservation-form" name="reservationForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="user_doctor_id">
                                {{ 'DOCTOR' | translate }}
                            </label>
                            <div class="input-group">
                                <label class="control-label" for="inputSuccess4"></label>
                                <select class="form-control" ng-model="user" ng-options="user.name for user in users | filter: {role_id:3} track by user.id " required id="inputSuccess4"></br></br>
                                </select>
                                <label for="user.job">
                                {{ 'PROFESSION' | translate }}: {{user.job}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <label for="appointment_date">
                                    {{ 'APPOINTMENTDATE' | translate }}</label>
                                    <div class='input-group date' required="required" id='datetimepicker1'>
                                        <input type='text' ng-model="reservation.appointment_date" class="form-control" id = "appointmentDate">
                                        <span ng-model="reservation.appointment_date"  class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        format: 'YYYY-MM-DD HH:mm:ss'
                                    });
                                });
                            </script>
                        </div>
                        <div>
                        </div>      
                    </div>
                    <div class="col-md-6" id="msg">
                        <div class="form-group">
                            <label for="description">
                                {{ 'DSC' | translate }}</label>
                            <textarea name="message" ng-model="reservation.description" class="formf-control" rows="9" cols="25" required="required" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                                <label for="subject">
                                    {{ 'TYPEF' | translate }}</label>
                                <select ng-model="reservation.form" ng-options="form for form in forms" class="formf-control" required="required">
                                </select>
                            </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnf" ng-click="editReservation()" ng-disabled="reservationForm.$invalid">
                            POTDVRDI</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

	<div id="copyright">© Copyright 2015</div>
</div>
</body>
