<div id="container" ng-app='two_way' ng-controller='two_way_control'>
      <div class="row" ng-repeat="data in feedbacks">
        <div class=".col-sm-6 .col-md-5 .col-lg-6">
          <h4>Lista povratnih informacija</h4><hr>
          <p>
            {{content}}
          </p>
        </div>
      </div>
    </div>