</br>
<div class="pretraga">
	{{ 'SORT' | translate }}
	<select ng-model="orderProp" class="form-control">
	  <option value="name"> {{ 'NAME' | translate }}</option>
	  <option value="description">{{ 'MSG' | translate }}</option>
	  <option value="email">{{ 'EMAIL' | translate }}</option>
	  <option value="form">{{ 'TYPEF' | translate }}</option>
	</select>
	{{ 'SEARCH' | translate }} <input ng-model="query" class="form-control">
</div>


</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="FeedbackCtrl">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">
              <input type="checkbox" name="query_myTextEditBox" ng-click="checkAll()" ng-model="selectedAll">    
            </th>
            <th> {{ 'NAME' | translate }}</th>
            <th>{{ 'MSG' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'TYPEF' | translate }}</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="feedback in feedbacks | filter:query | orderBy:orderProp">
        <td style="text-align: center; vertical-align: middle;">
            <input type="checkbox" name="query_myTextEditBox" ng-model="feedback.Selected">    
        </td>
        <td> {{feedback.name}}</td>
        <td> {{feedback.description}}</td>
        <td> {{feedback.email}}</td>
        <td> {{feedback.form}}</td>
      </tr>
</table>