</br>
<div class="pretraga">
	Sortiraj po:
	<select ng-model="orderProp" class="form-control">
	  <option value="name">Imenima</option>
	  <option value="description">Opisu</option>
	  <option value="email">Emailu</option>
	  <option value="form">Tipu</option>
	</select>
	Pretraga: <input ng-model="query" class="form-control">
</div>


</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="FeedbackCtrl">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">
              <input type="checkbox" name="query_myTextEditBox" ng-click="checkAll()" ng-model="selectedAll">    
            </th>
            <th>Ime</th>
            <th>Opis</th>
            <th>Email</th>
            <th>Tip</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="feedback in feedbacks | filter:query | orderBy:orderProp">
        <td style="text-align: center; vertical-align: middle;">
            <input type="checkbox" name="query_myTextEditBox" ng-model="feedback.Selected">    
        </td>
        <td> {{feedback.name}}</td>
        <td> {{feedback.description}}</td>
        <td> {{feedback.email}}</td>
        <td> {{feedback.form}}</td>
      </tr>
</table>