<!--home page-->
<head>
    <!--font for icon in circle button on home page-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // Initializes the carousel
    $(".start-slide").click(function(){
        $("#myCarousel").carousel('cycle');
    });
    // Stops the carousel
    $(".pause-slide").click(function(){
        $("#myCarousel").carousel('pause');
    });
    // Cycles to the previous item
    $(".prev-slide").click(function(){
        $("#myCarousel").carousel('prev');
    });
    // Cycles to the next item
    $(".next-slide").click(function(){
        $("#myCarousel").carousel('next');
    });
    // Cycles the carousel to a particular frame 
    $(".slide-one").click(function(){
        $("#myCarousel").carousel(0);
    });
    $(".slide-two").click(function(){
        $("#myCarousel").carousel(1);
    });
    $(".slide-three").click(function(){
        $("#myCarousel").carousel(2);
    });
});
</script>
<style type="text/css">
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin: 20px 0;
}
.control-buttons{
    text-align:center;
}
.bs-example{
    margin: 20px;
} 
</style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <div class="bcgwhite" style="height:1000px">
    <div  ng-controller="HomeController">
    <!-- Navigation bar -->
    <div class="navbar" navbar></div>
    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="slogan">
            <h3 id="main-title">{{ 'WELCOME' | translate }} {{ userName }}</h3>
        </div>
    </section>
    </div>
    <!-- /Section: intro -->

<!--image slider-->
    </br></br></br>
    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-interval="7000" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item bcgimgslider">
                    <ul class="feedbacks">
                        <li> 
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Muz i ja smo ljetos isli na preventivni pregled. Vrlo ljubazno osoblje, doktori su sve objasnjavali tokom pregleda, nalazi bili brzo gotovi, cak su pitali treba li pisati na engleskom nalaze (nije trebalo jer nase medicinsko osiguranje ima svoje prevodioce). Imaju razne pakete - mi smo isli na D paket.</p>
                                    <h5 class="cupBlue">Emina M. <em>Sarajevo</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Najprofesionalnije osoblje. Moja porodica i ja smo vec 12 godina pacijenti ove poliklinike i imamo odlicno iskustvom. Pravi su profesionalci a sve se moze obaviti na jednom mjestu - internisticki pregledi, holteri EKG i pritsika, kompletna labaratorija i ultrazvuci. Profesionalci.</p>
                                    <h5 class="cupBlue">Dino P. <em>Mostar</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item bcgimgslider">
                    <ul class="feedbacks">
                        <li> 
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Ja sam VEEEOMA zadovoljna Poliklinikom. Nikad do sad niko mi nije tako sve objasnio i odgovorio na milion mojih postavljenih pitanja upucenih doktorici,ona je ginekolog. Do sad kuci odem vazda jos vise zbunjena.Ove doktore ja preporucujem svima, imaju nevjerovatno znanje i iskustvo i posvete maksimalnu paznju.</p>
                                    <h5 class="cupBlue">Azra B. <em>Sarajevo</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Prof. Klapana želim preporučiti svakome tko ima problem u njegovom području ekspertize. Operirala sam devijaciju septuma prije četiri mjeseca i od tada nemam baš nikakvih problema s upalama, sinusitisom, glavoboljama, prehladama, alergijama, umorom ili disanjem, što je prije često bio slučaj. </p>
                                    <h5 class="cupBlue">Silvana I. <em>Bihac</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item bcgimgslider">
                    <ul class="feedbacks">
                        <li> 
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Besplatne konsultacije nisu slucaj nigdje niti u jednoj Privatnoj klinici da mozes otici i nesto zavrsiti besplatno. Svaka cast na tome. Osoblje je preljubazno. Doktori su strucni. Od srca hvala profesoru Edinu kao i njegovom divnom osoblju!
                                    </p>
                                    <h5 class="cupBlue">Maja H. <em>Sarajevo</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide quoteBlock col-sm-6 col-md-4" style="width: 433px;">
                                <div>
                                    <i class="fa fa-quote-left"></i>
                                    <p>Prof. Mehmed je izuzetno stručan i ugodan, te je cijeli operativni proces, kao i dio prije i nakon operacije, učinio lakšim i bezbolnijim. Takvo je i cijelo osoblje Poliklinike. Bez pretjerivanja- operacija mi je ostala u ugodnom sjećanju</p>
                                    <h5 class="cupBlue">Edna J. <em>Zenica</em></h5>
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Controls buttons -->
        <div class="control-buttons">
            <div class="btn-group">
              <a class="btn btn-info start-slide white"> <i class="glyphicon glyphicon-play" style="color:white"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-info pause-slide white"><i class="glyphicon glyphicon-stop" style="color:white"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-info prev-slide white"><i class="glyphicon glyphicon-chevron-left" style="color:white"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-info next-slide white"><i class="glyphicon glyphicon-chevron-right" style="color:white"></i></a>
            </div>   
            <input type="button" class="btn btn-info slide-one" value="1">
            <input type="button" class="btn btn-info slide-two" value="2">            
            <input type="button" class="btn btn-info slide-three" value="3">
        </div>
    </div>
    <!-- /.image slider-->

    <!--advice form-->
    <div class="heading-contact-title">
                <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <div class="section-heading">
                        <h2>{{ 'AHEAD' | translate }}</h2>
                        <i class="fa fa-2x fa-angle-down"></i>
                         </br>  
                            <div style="text-align:center;" ng-controller="QuestionsController"> Otvorite stranicu sa već postavljenim pitanjima 
                                <a href ng-click="openQuestions()">OVDJE</a>. 
                            </div>
                         </br>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    <!-- /.advice form-->

    <!--orders form-->
    <div class="heading-contact-title">
                <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <div class="section-heading">
                        <h2>{{ 'OHEAD' | translate }}</h2>
                        <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
            <!--from-->
    <!--<div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>-->
<!--to-->
<!--<div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
        </script>
    </div>
</div>-->
    
    <!-- /.orders form-->

    <!--feedback form-->
    <div class="heading-contact-title">
                <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <div class="section-heading">
                        <h2>{{ 'FHEAD' | translate }}</h2>
                        <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    <div class="heading-contact">
                <div class="container">
                <div class="row">
                    
                </div>
                </div>
            </div>
    <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
        <div class="row">

            <div class="col-lg-8">
                <div class="boxed-grey"  ng-controller="FeedbackController">
                    <form id="contact-form" name="feedbackForm">
                    <div class="row">
                        <div class="col-md-6">
                           <div ng-controller="RatingCtrl">
                                <div ng-init="rating = star.rating + 1"></div>
                                <div class="star-rating" star-rating rating-value="rating" data-max="10" on-rating-selected="rateFunction(rating)"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    {{ 'NAME' | translate }}</label>
                                <input type="text" ng-model="feedback.name" class="formf-control" placeholder="Enter your name" required="required">
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    {{ 'EMAIL' | translate }}</label>
                                <div class="input-group">
                                    <!--<span class="add-on"><i class="icon-envelope"></i></span>-->
                                    <input type="email" class="formf-control" ng-model="feedback.email" placeholder="Enter email"></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    {{ 'TYPEF' | translate }}</label>
                                <select ng-model="feedback.form" ng-options="form for form in forms" class="formf-control">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" id="msg">
                            <div class="form-group">
                                <label for="name">
                                    {{ 'MSG' | translate }}</label>
                                <textarea name="message" ng-model="feedback.description" class="formf-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" id="btnf" ng-click="sendFeedback()" ng-disabled="feedbackForm.$invalid">
                                {{ 'SMSG' | translate }}</button>
                        </div>
                    </div>
                    </form>
        <div>
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        </div>
                </div>
            </div>
            
            <div class="col-lg-4" id="contact">
                <div class="widget-contact">
                    <h5>{{ 'OFFICE' | translate}}</h5>
                    
                    <address>
                      <strong>ESAVJETOVALISTE</strong><br>
                      Zmaja od Bosne bb<br>
                      71000, Sarajevo<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                    <address>
                      <strong>Email</strong><br>
                      <a href="mailto:#">kontakt@esavjetovaliste.com</a>
                    </address>                   
                
                </div>  
            </div>
        </div>  

    </div>
    <!--feedback form-->

    <!--Footer-->
    <div class="footer">
        <div id="copyright">© Copyright 2015</div>
            <div class="page-scroll">
                <a href="#/home" class="btn btn-circle">
                    <i class="fa fa-angle-double-up pulse animated"></i>
                </a>
            </div>
    </div>
    <!--/.Footer-->
</body>