<!--home page-->
<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" class="bcgnone">
    <div  ng-controller="HomeController">
    <!-- Navigation bar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#/home">
                    <h1 class="naslov1">eSavjetovaliste</h1>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a>{{ 'HOME' | translate }}</a></li>
                <li><a>{{ 'ABOUT' | translate }}</a></li>
                <li><a href ng-click="openChangePass()">{{ 'CHANGE_PASS' | translate }}</a></li>
                <li><a href ng-click="logout()">{{ 'LOGOUT' | translate }}</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="slogan">
            <h2 id="main-title">{{ 'WELCOME' | translate }} {{ userName }}</h2>
        </div>
        <div class="page-scroll">
            <a href="#/home" class="btn btn-circle">
                <i class="fa fa-angle-double-down pulse animated"></i>
            </a>
        </div>
    </section>
    </div>
    <div ng-controller="LanguageController">
      <button ng-click="changeLanguage('bs')">BS</button>
      <button ng-click="changeLanguage('en')">EN</button>
    </div>
    <!-- /Section: intro -->
</body>

<!--feedback form-->
<div class="heading-contact-title">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                    <h2>Your feedback is very important to us!</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
<div class="heading-contact">
            <div class="container">
            <div class="row">
                
            </div>
            </div>
        </div>
<div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="boxed-grey">
                <form id="contact-form" name="feedbackForm" ng-controller="FeedbackController">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" ng-model="feedback.name" class="formf-control" placeholder="Enter your name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <!--<span class="add-on"><i class="icon-envelope"></i></span>-->
                                <input type="email" class="formf-control" ng-model="feedback.email" placeholder="Enter email"></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Type od feedback</label>
                            <select ng-model="feedback.form" ng-options="form for form in forms" class="formf-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" id="msg">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" ng-model="feedback.description" class="formf-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnf" ng-click="sendFeedback()" ng-disabled="feedbackForm.$invalid">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
        <div class="col-lg-4" id="contact">
            <div class="widget-contact">
                <h5>Main Office</h5>
                
                <address>
                  <strong>ESAVJETOVALISTE</strong><br>
                  Zmaja od Bosne bb<br>
                  71000, Sarajevo<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                  <strong>Email</strong><br>
                  <a href="mailto:#">kontakt@esavjetovaliste.com</a>
                </address>                   
            
            </div>  
        </div>
    </div>  

</div>
<!--feedback form-->