<!--home page for admin-->
<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<!--navbar-->
<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
    <div class="localization-bs-en" localization-bs-en></div>
     <div class="container" ng-controller="HomeAdminController">
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#/home_admin">
           <h1 class="naslov1">eSAVJETOVALISTE</h1>
        </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
           <ul class="nav navbar-nav navbar-font">

            <li class="dropdown">
              <a href class="dropdown-toggle" data-toggle="dropdown"><span>{{ "ADMIN" | translate }}</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openUserManagement()" href><span>{{ 'USRMNG' | translate }}</span></a></li>
                <li><a ng-click="openFeedback()" href><span>{{ 'FEEDBACKMNG' | translate }}</span></a></li>
                <li><a ng-click="openCategory()" href><span>{{ 'CATEGORYMNG' | translate }}</span></a></li>
                <li><a ng-click="openRoleManagement()" href><span>{{ 'USRROLE' | translate }}</span></a></li>
                <li><a ng-click="openChartManagement()" href><span>{{ 'GRAF' | translate }}</span></a></li>
              </ul>
            </li>
          <li><a href ng-click="openChangePass()"><span>{{ "CHANGE_PASS" | translate }}</span></a></li>
         <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
            </ul>
          </div>
       </div>
   </nav>
<!--/.navbar-->


</br></br></br>
<div class="heading-contact-title">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                    <h2>{{ 'OPT' | translate }}</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</br></br>
<section  ng-controller="HomeAdminController">
<div class="row">
    <a href class="normal" ng-click="openUserManagement()">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="service-box">
                <div class="service-icon">
                    <img class="homeadminimg" src="/assets/group.png" alt="" height="100" width="100" align="middle">
                </div>
                <div class="service-desc">
                    <h5>{{ 'USRMNG' | translate }}</h5>
                    <p>{{ 'USRMNGD' | translate }}</p>
                    </div>
            </div>
            </div>
        </div>
    </a>
    <a href class="normal" ng-click="openFeedback()">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="service-box">
                <div class="service-icon">
                    <img class="homeadminimg" src="/assets/feedback-icon.png" alt="" height="100" width="100" align="middle">
                </div>
                <div class="service-desc">
                    <h5>{{ 'FEEDBACKMNG' | translate }}</h5>
                    <p>{{ 'FEEDBACKMNGD' | translate }}</p>
                    </div>
            </div>
            </div>
        </div>
    </a>
    <a href class="normal" ng-click="openCategory()">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="service-box">
                <div class="service-icon">
                    <img class="homeadminimg" src="/assets/category.png" alt="" height="100" width="100" align="middle">
                </div>
                <div class="service-desc">
                    <h5>{{ 'CATEGORYMNG' | translate }}</h5>
                    <p>{{ 'CATEGORYMNGD' | translate }}</p>
                    </div>
            </div>
            </div>
        </div>
    </a>
   <a href class="normal" ng-click="openRoleManagement()">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="service-box">
                <div class="service-icon">
                    <img class="homeadminimg" src="/assets/role_icon.jpg" alt="" height="100" width="100" align="middle">
                </div>
                <div class="service-desc">
                    <h5>{{ 'USRROLE' | translate }}</h5>
                    <p>{{ 'USRROLED' | translate }}</p>
                    </div>
            </div>
            </div>
        </div>
    </a>
    <a href class="normal" ng-click="openChartManagement()">
        <div class="col-sm-3 col-md-3">
            <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="service-box">
                <div class="service-icon">
                    <img class="homeadminimg" src="/assets/chart-icon.png" alt="" height="100" width="100" align="middle">
                </div>
                <div class="service-desc">
                    <h5> {{ 'GRAF' | translate }} </h5>
                    <p> {{ 'GRAFD' | translate }} </p>
                    </div>
            </div>
            </div>
        </div>
    </a> 
</div>
</section>
<div id="copyright">© Copyright 2015</div>