<!--home page for admin-->
<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<div class="admin-navbar" admin-navbar></div>

</br></br></br>

<div class="heading-contact-title">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                    <h2>{{ 'OPT' | translate }}</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</br></br>

<div class="row" ng-controller="HomeAdminController">
            <a href class="normal" ng-click="openUserManagement()">
                <div class="col-sm-3 col-md-3">
                    <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="/assets/group.png" alt="" height="100" width="100" align="middle">
                        </div>
                        <div class="service-desc">
                            <h5>{{ 'USRMNG' | translate }}</h5>
                            <p>{{ 'USRMNGD' | translate }}</p>
                            </div>
                    </div>
                    </div>
                </div>
            </a>
            <a href class="normal" ng-click="openFeedback()">
                <div class="col-sm-3 col-md-3">
                    <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="/assets/feedback-icon.png" alt="" height="100" width="100" align="middle">
                        </div>
                        <div class="service-desc">
                            <h5>{{ 'FEEDBACKMNG' | translate }}</h5>
                            <p>{{ 'FEEDBACKMNGD' | translate }}</p>
                            </div>
                    </div>
                    </div>
                </div>
            </a>
            <a href class="normal" ng-click="openCategory()">
                <div class="col-sm-3 col-md-3">
                    <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="/assets/category.png" alt="" height="100" width="100" align="middle">
                        </div>
                        <div class="service-desc">
                            <h5>{{ 'CATEGORYMNG' | translate }}</h5>
                            <p>{{ 'CATEGORYMNGD' | translate }}</p>
                            </div>
                    </div>
                    </div>
                </div>
            </a>
           <a href class="normal" ng-click="openRoleManagement()">
                <div class="col-sm-3 col-md-3">
                    <div class="wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="/assets/role_icon.jpg" alt="" height="100" width="100" align="middle">
                        </div>
                        <div class="service-desc">
                            <h5>{{ 'USRROLE' | translate }}</h5>
                            <p>{{ 'USRROLED' | translate }}</p>
                            </div>
                    </div>
                    </div>
                </div>
            </a> 
        </div>
        <div id="copyright">© Copyright 2015</div>