<!--home page-->
<head>
    <!--font for icon in circle button on home page-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Navigation bar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" ng-controller="NavBarController">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#/home">
                    <h1 class="naslov1">eSavjetovaliste</h1>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		      <ul class="nav navbar-nav">
		        <li class="active"><a>Home</a></li>
                <li><a>About</a></li>
		        <li><a ng-click="openChangePass()">Change password</a></li>
				<li><a ng-click="logOut()">Logout</a></li>
		      </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="slogan">
			<h2>DOBRO DOŠLI!</h2>
		</div>
		<div class="page-scroll">
			<a href="#/home" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>
	<!-- /Section: intro -->
</body>
<!--komentar-->