<!--Login form-->
<div class="container">  
  <div class="bcg" style="height:600px">  
    <div class="localization-bs-en" localization-bs-en></div> 
    <div class="account-wall">
      
</form>
      <form class="form-signin form-inline" role="form" name="myForm" ng-controller="LoginController">
        <!--title-->
        <h1 class="text-center login-title">eSavjetovaliste</h1>
        <!--input email-->
        <div class="form-group has success has-feedback">
          <label class="control-label" for="inputSuccess4"></label>
          <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required autofocus id="inputSuccess4">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span><br>
          <!--email validation-->
          <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Unos emaila je obavezan.</span>
            <span ng-show="myForm.email.$error.email">Format email addrese nije dobar.</span>
          </span> 
        </div>

        <!-- input password-->
        <div class="form-group has success has-feedback">
          <label class="control-label" for="inputSuccess4"></label>
          <input name="password" type="password" minlength="3" class="form-control" placeholder="Šifra" ng-model="user.password"  required id="inputSuccess4">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span><br>
          <br>
          <!--password validation (client side)-->
          <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
              <span ng-show="myForm.password.$error.required">Unos pasvorda je obavezan.</span>Pasvord mora imati više od 3 karaktera.
          </span> 
        </div>

        <!--checkbox rememer me?-->
        <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me">
            {{ 'REMEMBER_ME' | translate }}
        </label>

        <!--submit button-->
        <button class="btn btn-lg btn-primary btn-block" ng-click="loginUser()"  ng-disabled="loginForm.$invalid">    {{ 'LOGIN' | translate }}
        </button>

        <!--link for registration form-->
        <a class="pull-right new-account" href ng-click="openRegistration()">{{ 'REGISTER' | translate }}</a>
        <!--link for forgot password form-->
        <a class="pull-left new-account" href ng-click="openPassReset()">{{ 'FORGOT_PASS' | translate }}</a>

        </form>
      </div>
  </div>
</div>
<div id="copyright">© Copyright 2015</div>