<div class="container">
  <div class="row">
  </div>

  <div class="col-md-9">
    <form class="form" ng-submit="upload()">
      <input type="file" nv-file-select uploader="uploader"/><br/>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div> 
