<!--Form for password reset after user hits forgot account button-->
<div id="background">
    <!--<img src="/assets/bcgnwt1.jpg" class="stretch" alt="" /> -->
    <!--navbar-->
<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
    <div class="localization-bs-en" localization-bs-en></div>
     <div class="container">
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#/home_admin">
           <h1 class="naslov1">eSAVJETOVALISTE</h1>
        </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
           <ul class="nav navbar-nav navbar-font">
          <li><a  ng-controller="LoginController" href ng-click="openLogin()"><span>{{ "HOME" | translate }}</span></a></li>
          <li><a href><span>{{ "ABOUT" | translate }}</span></a></li>
          <li><a ng-controller="LoginController" href ng-click="openRegistration()"><span>{{ 'REGISTER' | translate }}</span></a></li>
          </div>
       </div>
   </nav>
<!--/.navbar-->


</br></br></br>
    <div class="container">
      <div style="height:600px">
        <div class="forgot-acc">
          <form class="form-signin form-inline" role="form" name="myForm" ng-controller="ResetController">
            <!--title-->
            <h1 class="text-center login-title">eSavjetovaliste</h1>

      			<!-- input email-->
            <div class="input-prepend form-group has success has-feedback">
              <label class="control-label" for="inputSuccess4"></label>
              <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required autofocus id="inputSuccess4"/>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span></br></br>
              <!--email validation (client side)-->
              <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Unos emaila je obavezan.</span>
                <span ng-show="myForm.email.$error.email">Format email addrese nije dobar.</span>
              </span> 
            </div>

            <!--submit button-->
      	    <button class="btn btn-lg btn-primary btn-block" ng-click="doReset()"  ng-disabled="loginForm.$invalid">Potvrdi</button>
          </form>
        </div>
      </div>
    </div>
    <div id="copyright">© Copyright 2015</div>
</div>