<div classs="container"  ng-controller="QuestionsController">
<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
</div>
    </br></br>
    <div class="pretraga">
      Pretraga: <input ng-model="query" class="form-control">
    </div>

    </br>  
    <div style="text-align:center;">Trebate savjet? Postavite svoje pitanje <a href ng-click="newQuestion()">OVDJE</a>. </div>
    </br><br>
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            <div class="list-group">
              <div class="list-group-item active">
                  <div class="row">
                    <div class="col-lg-8 col-md-8">Teme</div>
                    <div class="col-lg-2 col-md-2" style="text-align:center;">Kategorija</div>
                    <div class="col-lg-2 col-md-2" style="text-align:center;">Odgovori</div>
                  </div>
              </div>
              <a href ng-click="showQuestion(question.id)" class="list-group-item" ng-repeat="question in questions | filter:query">
               <div class="row">
                   <div class="col-lg-8 col-md-8">
                        <h4 class="list-group-item-heading"> {{question.name}}?</h4>
                        <p class="list-group-item-text" style="font-size:11px;margin-top:10px;"><span class="glyphicon glyphicon-pencil"></span> 
                        {{ question.user.name}} {{ question.user.surname}} &nbsp&nbsp&nbsp
                        <span class="glyphicon glyphicon-time"></span> {{ question.time_created }}
                        <br>
                    </div>
                    <div class="col-lg-2 col-md-2" style="text-align:center;"> {{ question.category.name }} </div>
                    <div class="col-lg-2 col-md-2" style="text-align:center;"> {{question.number_of_comments}}</div>
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <!-- Brisanje za admina
    <div class="actions">
        <button class="btn btn-primary btn-usr-mng" ng-click="deleteQuestion(question.id, $index)">
            Obriši
        </button>
    </div>
    -->
    <div id="copyright">© Copyright 2015</div>
</div>