</br>
<div class="pretraga">
  {{ 'SEARCH' | translate }} <input ng-model="query" class="form-control">
</div>

<a ng-href="/#/questions/{{question_id}}/new_resource" class="btn btn-common">New Resource</a>
</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="ResourcesCtrl">
    <thead>
        <tr>
            <th> {{ 'NAME' | translate }}</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="upload in uploads | filter:query" >
        <td> {{upload.filename}}</td>
        
      </tr>
</table>
<div id="copyright">© Copyright 2015</div>