<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<!--navbar-->
<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
    <div class="localization-bs-en" localization-bs-en></div>
     <div class="container" ng-controller="HomeAdminController">
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href ng-click="openHomeAdmin()">
           <h1 class="naslov1">eSAVJETOVALISTE</h1>
        </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
           <ul class="nav navbar-nav navbar-font">
           <li><a href ng-click="openHomeAdmin()"><span>{{ "HOME" | translate }}</span></a></li>
         <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
            </ul>
          </div>
       </div>
   </nav>
<!--/.navbar-->
</br></br></br></br></br></br>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
<br>
<div class="pretraga">
  Sortiraj po:
  <select ng-model="orderProp" class="form-control">
    <option value="name">Naziv</option>
    <option value="name">Opis</option>
  </select>
  Pretraga: <input ng-model="query" class="form-control"> <br><br>
  Dodavanje nove role: 
  <button class="btn btn-primary" ng-controller="CreateRoleController" ng-click="createRoleRead()"  ng-disabled="myForm.$invalid">Dodaj rolu</button>
</div>

</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="SearchRoleControler">
    <thead>
        <tr>s
            <th>Naziv</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="role in roles | filter:query | orderBy:orderProp">
        <td> {{role.name}}</td>
        <td> {{role.description}}</td>
        <td>
          <div class="actions"> 
          <button class="btn btn-primary btn-usr-mng" ng-controller="UpdateRoleControler" ng-click="updateRoleRead(role.id)"  ng-disabled="myForm.$invalid">Izmijeni</button>
          </div>
          <div class="actions" >
            <button class="btn btn-primary btn-usr-mng" ng-click="deleteRole(role.id, $index)"  ng-disabled="myForm.$invalid">Obriši</button>
          </div>
        </td>
      </tr>
</table>
<div id="copyright">© Copyright 2015</div>