</br></br>
<div class="pretraga">
  {{ 'SORT' | translate }}
  <select ng-model="orderProp" class="form-control">
    <option value="name">{{ 'ORDNAME' | translate }}</option>
    <option value="surname">{{ 'ORDSURNAME' | translate }}</option>
  </select>
  {{ 'SEARCH' | translate }} <input ng-model="query" class="form-control">
  {{ 'ADDNEWUSER' | translate }} 
  <button class="btn btn-primary" ng-controller="RegistrationUserByManagerController" ng-click="registerUserWithRole()"  ng-disabled="myForm.$invalid">{{ 'ADDUSER' | translate }}</button>
</div>

</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="SearchUsersControler">
    <thead>
        <tr>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'SURNAME' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'JOB' | translate }}</th>
            <th>{{ 'ACTION' | translate }}</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:query | orderBy:orderProp">
        <td> {{user.name}}</td>
        <td> {{user.surname}}</td>
        <td> {{user.email}}</td>
        <td> {{user.job}}</td>
        <td>
          <div class="actions" >
            <button class="btn btn-primary btn-usr-mng" ng-click="openUpdateUser(user.id, $index)"  ng-disabled="myForm.$invalid">{{ 'CHANGE' | translate }}</button>
          </div>
          <div class="actions" >
            <button class="btn btn-primary btn-usr-mng" ng-click="deleteUser(user.id, $index)"  ng-disabled="myForm.$invalid">{{ 'DELETE' | translate }}</button>
          </div>
        </td>
      </tr>
</table>
