<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html><head>
  <title>eSavjetovaliste</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="bcgnone">

	  <%= yield %>  


  <div class="footer">
  	<div  id="copyright">© Copyright 2015</div>
  		<div class="page-scroll">
            <a href="#/home" class="btn btn-circle">
                <i class="fa fa-angle-double-up pulse animated"></i>
            </a>
        </div>
  </div>
  	</div>
</body>